<div class="powered-by">
    Powered by &nbsp;
    <img class="qristix-logo" src="<%= baseUrl+'/images/logos/qristix-poweredby.png' %>" />
</div>
<div class="qristix-website">
    <a href="https://www.qristix.com">
        https://www.qristix.com
    </a>
</div>
